.tile {
    position: absolute;
    width: 46px;
    height: 46px;
}

.shine {
    position: absolute;
    top: -16px;
    left: 0;
    opacity: 0;
    mix-blend-mode: screen;
    filter: brightness(0.85);
    transition: opacity 0.3s;
}

.tile:hover .shine {
    opacity: 1;
}

.imageTile {
    filter: brightness(1.2);
}
